/* Fonts*/
@font-face {
    font-family:HelveticaNowText;
    src:url("./media/fonts/HelveticaNowText-Regular.woff2") format("woff2");
    font-weight:400;
    font-style:normal;
    font-display:swap
   }
@font-face {
    font-family:HelveticaNowText;
    src:url("./media/fonts/HelveticaNowText-RegularItalic.woff2") format("woff2");
    font-weight:400;
    font-style:italic;
    font-display:swap
   }
@font-face {
    font-family:HelveticaNowText;
    src:url("./media/fonts/HelveticaNowText-Medium.woff2") format("woff2");
    font-weight:500;
    font-style:normal;
    font-display:swap
   }
@font-face {
    font-family:HelveticaNowText;
    src:url("./media/fonts/HelveticaNowText-MediumItalic.woff2") format("woff2");
    font-weight:500;
    font-style:italic;
    font-display:swap
   }
@font-face {
    font-family:HelveticaNowText;
    src:url("./media/fonts/HelveticaNowText-Bold.woff2") format("woff2");
    font-weight:600;
    font-style:bold;
    font-display:swap
   }
@font-face {
    font-family:WhyteInktrapBook;
    src:url("./media/fonts/WhyteInktrap-Book.woff2") format("woff2");
    font-weight:400;
    font-style:bold;
    font-display:swap
}

/*Reset*/
*, *::before, *::after {
    box-sizing: border-box;
}

  * {
    margin: 0;
}

html, body {
    height: 100%;
}

body {
    font-family: HelveticaNowText, sans-serif;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/*navbar*/
nav ul {
    list-style: none;
    display: inline;
}

.selection-square{
    display: inline-block;
    width: 40px;
    height: 40px;
    border: 1px solid black;
    border-radius: 3px;
}

#order-button{
    color: white;
    background-color:  rgb(25, 25, 25);
    border: none;
}